<center>
  <div class="row">
  <div class="col24s m12">
    <div class="card blue-grey darken-1">
           <div class="card-content white-text">
              <h1>Editing Todo Item</h1>

              <%= render 'form' %>

              <%= link_to 'Show', @todo_item,class:"btn waves-effect  blue lighten-4" %> |
              <%= link_to 'Back', todo_items_path,class:"btn waves-effect  blue lighten-4" %>
            </div>
      </div>
  </div>
</div>

</center>
