
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  <!--js-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

<center>
<p id="notice"><%= notice %></p>
<h1>Todo Items</h1>



<form>
  <div class="row">
  <div class="col24s m12">
    <div class="card blue-grey darken-1">
           <div class="card-content white-text">
                <table>
                  <thead>
                      <tr>
                      <th>Activity</th>
                      <th>Descrption</th>
                      <th>Status</th>
                      <th colspan="3"></th>
                    </tr>

                  </thead>

                  <tbody>
                    <% @todo_items.each do |todo_item| %>
                      <tr>
                        <td><%= todo_item.activity %></td>
                        <td><%= todo_item.descrption %></td>
                        <td><%= todo_item.status %></td>
                        <td><%= link_to 'Show', todo_item,class:"btn waves-effect  blue lighten-4" %></td>
                        <td><%= link_to 'Edit', edit_todo_item_path(todo_item),class:"btn waves-effect  blue lighten-4" %></td>
                        <td><%= link_to 'Destroy', todo_item, method: :delete, data: { confirm: 'Are you sure?' },class:"btn waves-effect  blue lighten-4" %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>

                <br>
                <%=  link_to 'New Todo item', new_todo_item_path, class:"btn waves-effect  blue lighten-4" %>
            </div>
        </div>
      </div>
  </div>
</form>
</center>
